/* Carousel */
.carousel {
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Image track */
.imageTrack {
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
    gap: 16px;
    align-items: center;
    position: relative;
}

.imageTrack.noTransition {
  transition: none !important;
}

.trackItem {
    height: 100%;
    position: relative;
}

/* Images */
.imgContainer {
    aspect-ratio: 16 / 9;
    transition: all 0.5s ease;
    opacity: 0.5;
    flex-shrink: 0;
    border-radius: 8px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img {
    object-fit: contain;
}

.focusedImg {
    aspect-ratio: 16 / 9;
    opacity: 1;
}

.caption {
    margin: 5px;
    text-align: center;
    position: absolute;
    /* position: fixed; */
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    text-wrap: nowrap;
}

/* Buttons */
.button {
    background: none;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: absolute;
}

.button svg {
    width: 34px;
    height: 34px;
    stroke: var(--primary);
    stroke-width: 2;
    fill: none;
    transition: all 0.3s ease;
}

.button:hover svg {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 2px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 2px rgba(255, 255, 255, 0.2));
}
