.section {
    margin-bottom: 70px;
}

.header {
    padding: 0.5em 0;
    border-bottom: solid var(--primary) 3px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.name {
    margin: 0;
    display: block;
}

.links {
    display: flex;
    gap: 5px;
}

.link {
    /* margin: 5px; */
    color: white;
}

.icon {
    display: block;
    transition: all 0.3s;
}

.icon:hover {
    filter: brightness(60%);
}

.desc {
    padding: 0.5em 0;
    border-top: solid var(--primary) 3px;
}