.back {
  /* color: var(--primary);
  text-decoration: none;
  position: relative; */
  padding-bottom: 5px;
}

/* .back::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 2px solid var(--primary);
  transition: all 0.3s ease;
}

.back:hover::after {
  width: 100%;
} */

.h1 {
  margin-top: 40px;
}