:root {
  --primary: #ddd;
  --background: #222;
  --secondary-bg: #333;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--primary);
}

h1 {
  /* text-align: center; */
  /* font-size: 36px; */
  margin-top: 80px;
}

.body {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 0 20px; */
    width: 100%;
    box-sizing: border-box;
}

.header {
    background-color: var(--secondary-bg);
    /* font-size: larger; */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center;
    box-sizing: border-box; */
}

.footer {
    background-color: var(--secondary-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer-right {
    /* margin: 10px; */
    /* position:fixed; */
    /* right: 0; */
    display: flex;
    /* flex: 0 0 auto; */
    gap: 8px;
    
    /* align-items: center; */
    /* float:right; */
}

.footer-img {
    display: block;
    transition: all 0.3s;
}

.footer-img:hover {
    filter: brightness(60%);
    cursor: pointer;
}