.wrapper {
    position: fixed;
    padding: 1em;
    top: 0;
    right: 0;
}

.iconContainer {
    text-align: right;
}

.icon {
    transition: all 0.5s;
}

.icon:hover {
    transform: rotate(180deg);
    filter: brightness(50%);
    cursor: pointer;
}

.container {
    border: 2px solid white;
    border-radius: 15px;
    padding: 0.5em 1em;
    background-color: #111;
}

.containerTitle {
    font-size: larger;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 3px;
}